.wcepe_external_products {
	list-style-type: none;
	margin-left: 0 !important;
}

.wcepe_external_product{ 
	text-align: center;
	width: 200px;
	display: inline-block;
	margin: 15px 13px;
}

.wcepe_external_product_image {
	width: auto;
}

.wcepe_external_product_title {
	margin: 5px 0 -1px 0;
}

.wcepe_external_product_price {
	display: block;
	margin: 0 0 6px 0;
}

.wcepe_external_product_rating {
	position: relative;
	font-size: 19px;
	margin: 0 0 30px 0;
	width: auto;
	font-family: 'dashicons';
}

.wcepe_external_product_rating:before {
	content: "\f154\f154\f154\f154\f154";
	color: #adb9bc;
	position: absolute;
	top: 0;
	left: 52px;
}

.wcepe_external_product_rating span:before {
	content: "\f155\f155\f155\f155\f155";
	color: #f37324;
	position: absolute;
	top: 0;
	left: 0;
}

.wcepe_external_product_rating span {
	overflow: hidden;
	position: absolute;
	font-size: 19px;
	top: 0;
	height: 25px;
	left: 52px;
}